// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Variables
@import 'variables';

// Bootstrap Sass
//$icon-font-path: '../fonts/bootstrap/';
//@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// Style
table {
    thead tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    tbody tr {
        padding: 10px 0;

        &:nth-of-type(even) {
            background: rgba(0, 0, 0, 0.03);
        }
    }
}

.photo {
    cursor: pointer;
}

.status-label{
    width: 100%;
    margin: 0;
}

//Custom Table on /orders/show
.table{

    .head{
        padding-bottom: 15px;
    }

    .order-line{
        margin: 5px -15px 15px -15px;
        padding: 0 15px;

        &:nth-of-type(even){
            //background: rgba(0, 0, 0, 0.03);
        }

        .row{
            padding: 5px 0;

            &.details{
                border-bottom: 1px solid rgba(0, 0, 0, 0.125);
            }
        }

        .content{
            display: none;
        }

        .buttons{
            width: 100%;
            display: flex;
            justify-content: center;

            .status-form{
                margin: 0 5px;
            }
        }
    }
}
