
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Variables
@import 'variables';

// Bootstrap Sass
//$icon-font-path: '../fonts/bootstrap/';
//@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// Style

thead tr{
    border-bottom: 2px solid #F7F7F7;
}
tbody tr{
    padding: 10px 0;

    &:nth-of-type(even){
        background: #F7F7F7;
    }
}

input[name=photo]{
    height: auto;
}

form{
    button{
        width: 100%;
    }
}

label{

    &.btn {
        cursor: pointer;
        width: 100%;
    }
}

img{
    margin-bottom: 5px;
}

.photo{
    cursor: pointer;

    label{
        position: absolute;
        top: 15px;
        width: 60px;
        padding: 2px 5px;
        font-size: 10px;
        color: white;
        box-shadow: black 2px 1px 2px;
    }
}

.carousel-indicators{
    bottom: 50px;
}
